@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    padding: 38px 0;
  }

  ul {
    flex-direction: column;
  }

  ul > li {
    margin-left: 0;
    margin-top: 32px;
  }

  /* banner style here  */
  .banner-container {
    flex-direction: column-reverse;
    padding: 10px;
  }

  /* we are gamer section style here */
  .we-are-gamer {
    margin-top: 55px;
    flex-direction: column;
    gap: 32px;
  }

  .gamer-content {
    padding: 0 10px;
    text-align: center;
  }

  /* online game section style here */
  .online-games-content {
    padding: 0 50px;
  }

  .online-games-collection {
    flex-direction: column;
    margin: 48px;
  }

  .caption {
    margin-top: 5px;
    padding-right: 30px;
  }

  /* about section style starts here */
  .about {
    margin-top: 45;
    flex-direction: column;
    gap: 45px;
  }

  .about-content {
    text-align: center;
    margin-right: 0px;
    max-width: 345px;
  }

  .about-img {
    padding: 0 20px 0px 70px;
  }

  .talking-cartoon {
    padding: 0 245px 0 120px;
    position: absolute;
    bottom: -50px;
    left: -105px;
  }

  /* play games section style here */
  .play-games {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .play-games-img {
    padding: 0 70px 0 20px;
  }

  .tom-cartoon {
    right: 15px;
    bottom: -60px;
    padding: 0px 0px 0 245px;
  }

  .play-games-content {
    text-align: center;
    margin-left: 0px;
  }

  .play-games-title {
    padding-right: 00px;
  }

  /* all game section style starts here */

  .all-game {
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .single-game-content {
    padding: 5px;
  }

  .game-title {
    margin-left: 5px;
    font-size: 14px;
    line-height: normal;
  }

  .single-game-content img {
    width: 40px;
  }

  /* footer section starts here */

  .link ul,
  .icon ul,
  .footer-link ul {
    display: grid;
    gap: 0;
  }

  .link ul,
  .icon ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .link ul {
    margin: 25px 0;
  }

  .footer-link ul {
    margin: 30px 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    padding: 38px 0;
  }

  ul {
    flex-direction: column;
  }

  ul > li {
    margin-left: 0;
    margin-top: 32px;
  }

  /* banner style here  */
  .banner-container {
    flex-direction: column-reverse;
    padding: 20px;
  }

  /* we are gamer section style here */
  .we-are-gamer {
    margin-top: 55px;
    flex-direction: column;
    gap: 32px;
  }

  .gamer-content {
    text-align: center;
  }

  /* online game section style here */

  .online-games-content {
    padding: 0 50px;
  }
  .online-games-collection {
    flex-direction: column;
    margin: 48px;
  }

  .single-game {
    text-align: center;
  }

  .caption {
    padding: 0 50px;
    margin-top: 5px;
  }

  /* about section style starts here */
  .about {
    margin-top: 45;
    flex-direction: column;
    gap: 45px;
  }

  .about-content {
    text-align: center;
    margin-right: 0px;
    max-width: 345px;
  }

  .about-img {
    padding: 0 20px 0px 100px;
  }

  .talking-cartoon {
    padding: 0 245px 0 120px;
    position: absolute;
    bottom: -110px;
    left: -105px;
  }

  /* play games section style here */
  .play-games {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .play-games-img {
    padding: 0 70px 0 20px;
  }

  .tom-cartoon {
    right: 15px;
    bottom: -110px;
    padding: 0px 0px 0 245px;
  }

  .play-games-content {
    text-align: center;
    margin-left: 0px;
  }

  .play-games-title {
    padding-right: 00px;
  }

  /* all game section style starts here */

  .all-game {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .game-title {
    margin-left: 5px;
    font-size: 14px;
    line-height: normal;
  }

  .single-game-content img {
    width: 40px;
  }

  /* footer section starts here */

  .link ul,
  .icon ul,
  .footer-link ul {
    display: grid;
    gap: 0;
    padding: 0 120px;
  }

  .link ul,
  .icon ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .link ul {
    margin: 25px 0;
  }

  .footer-link ul {
    margin: 30px 0;
    grid-template-columns: repeat(2, 1fr);
  }
}
