@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    padding: 38px 0;
  }

  ul {
    flex-direction: column;
  }

  ul > li {
    margin-left: 0;
    margin-top: 32px;
  }

  /* banner style here  */
  .banner-container {
    flex-direction: column-reverse;
    padding: 10px;
  }

  /* online game section style here */
  .online-games-content {
    padding: 0 50px;
  }

  .online-games-collection {
    flex-direction: column;
    margin: 48px;
  }

  .caption {
    margin-top: 5px;
    padding-right: 30px;
  }

  /* about section style starts here */
  .about {
    margin-top: 45;
    flex-direction: column;
    gap: 45px;
  }

  .about-content {
    text-align: center;
    margin-right: 0px;
    max-width: 345px;
  }

  .about-img {
    padding: 0 20px 0px 100px;
  }

  .talking-cartoon {
    padding: 0 245px 0 120px;
    position: absolute;
    bottom: -50px;
    left: -105px;
  }
}

/* responsive for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    padding: 38px 0;
  }

  ul {
    flex-direction: column;
  }

  ul > li {
    margin-left: 0;
    margin-top: 32px;
  }

  /* banner style here  */
  .banner-container {
    flex-direction: column-reverse;
    padding: 20px;
  }

  /* online game section style here */

  .online-games-content {
    padding: 0 50px;
  }
  .online-games-collection {
    flex-direction: column;
    margin: 48px;
  }

  .single-game {
    text-align: center;
  }

  .caption {
    padding: 0 50px;
    margin-top: 5px;
  }

  /* about section style starts here */
  .about {
    margin-top: 45;
    flex-direction: column;
    gap: 45px;
  }

  .about-content {
    text-align: center;
    margin-right: 0px;
    max-width: 345px;
  }

  .about-img {
    padding: 0 20px 0px 100px;
  }

  .talking-cartoon {
    padding: 0 245px 0 120px;
    position: absolute;
    bottom: -50px;
    left: -105px;
  }
}
